include _mixins.jade
doctype html
html(lang="es")
  head
    +head

  body
    +navegacion
    .container
      .row.mt60
        .col-md-12
          h2 Título del curso 1
      .row
        .col-md-6
          p Descripción del curso a realizar a continuación.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores reprehenderit quia iure, qui, asperiores, repudiandae tenetur recusandae delectus minus dolores eligendi. Reiciendis voluptatibus, magnam nisi perferendis accusamus vero. Nobis, beatae.
        .col-md-6
          h3 Objetivo
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          h3 Docente
          a(href="#") Rafael Mauleón
          h3 Requisitos
          p Iusto dolores mollitia sunt ipsam beatae nostrum perferendis consequatur culpa veniam esse minima adipisci soluta, cum dolor ullam.
          
      .row.mt20
        .panel.panel-primary
          .panel-heading Iniciar curso
          .panel-body
            | Cuerpo del curso
          .panel-footer.text-right
            a(href="#").btn.btn-success Finalizar y pasar a evaluación
        
        
        
        
        
        
        
        
