#info_x5F_gris:hover path{
  fill: #aa0000;
}



.infografia{
  background: url(infografia.jpg);
  width: 640px;
  height: 480px;
  margin: 20px  auto;
  position: relative;
}
.infografia .btn{
  border-radius: 50%;
  position:absolute;
}

.infografia .boton1{
  left: 80px; top: 250px;
}
.infografia .boton2{
  left: 215px; top: 170px;
}
.infografia .boton3{
  left: 215px; top: 320px;
}
.infografia .panel{
  width: 200px; height: 300px;
  position: absolute;
  right: 31px; top: 121px;
  display: none;
}
