include _mixins.jade

doctype html
html(lang="es")
	head
		+head
		script(src="cambiarContenido/_script.js")
		link(rel="stylesheet", href="cambiarContenido/estilo.css")
	body
		.container.mt20
			
			.col-md-4
				button.btn.btn-default.btn-lg.botonA Contenido A
				button.btn.btn-default.btn-lg.botonB Contenido B
				button.btn.btn-default.btn-lg.botonC Contenido C
					
			.col-md-
				.resultado
			
			
				
		.modal.fade#modalInicio
			.modal-dialog
				.modal-content
					.modal-header
						.modal-title Cambiar contenido
					.modal-body
						p  Da click sobre el botón para cambiar la imagen.
					.modal-footer
						button(type="submit" data-dismiss="modal").btn.btn-primary Iniciar
				
		.modal.fade#modalFinal
			.modal-dialog
				.modal-content
					.modal-header
						.modal-title Felicidades acabaste el material de aprendizaje
					.modal-body
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem dolores ipsa nam, sapiente ex non accusantium et doloribus est. Atque libero non dicta obcaecati adipisci, animi est, aliquam aut earum!
					.modal-footer
						button(type="submit" data-dismiss="modal").btn.btn-primary Finalizar
