include _mixins.jade

doctype html
html(lang="es")
	head
		+head
		script(src="conexiones/jsPlumb.js")
		script(src="conexiones/_script.js")
		link(rel="stylesheet", href="conexiones/estilo.css")
	body
		.container.mt20
			.row
				.col-xs-4
					button.btn.btn-default#conector1(data="conector2") Conector 1
				.col-xs-4
				.col-xs-4
					button.btn.btn-primary#conector2(data="conector1") Conector 2
			.row
				.col-xs-4
					button.btn.btn-default#conector3(data="conector4") Conector 3
				.col-xs-4
				.col-xs-4
					button.btn.btn-primary#conector4(data="conector3") Conector 4
			
			
				
		.modal.fade#modalInicio
			.modal-dialog
				.modal-content
					.modal-header
						.modal-title Tarjetas
					.modal-body
						p  Da click sobre la tarjeta para mostrar la información.
					.modal-footer
						button(type="submit" data-dismiss="modal").btn.btn-primary Iniciar
				
		.modal.fade#modalFinal
			.modal-dialog
				.modal-content
					.modal-header
						.modal-title Felicidades acabaste el material de aprendizaje
					.modal-body
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem dolores ipsa nam, sapiente ex non accusantium et doloribus est. Atque libero non dicta obcaecati adipisci, animi est, aliquam aut earum!
					.modal-footer
						button(type="submit" data-dismiss="modal").btn.btn-primary Finalizar
