include _mixins.jade

doctype html
html(lang="es")
	head
		+head
		
	body
		.container
			.row
				
				.modal.fade
					.modal-dialog
						.modal-header
							.modal-title ¿Deseas iniciar el material?
						.modal-footer
							button(type="submit").btn.btn-primary Iniciar material
