include _mixins.jade

doctype html
html(lang="es")
	head
		+head
		script(src="curso2/_script.js")
		
	body
		.container
			.row.mt20
				.col-md-2
					p
						| Correctas: 
						span.label.label-primary.correctas 0
				.col-md-2
					p  
						| Errores: 
						span.label.label-danger.errores 0
					
			.row.mt20.ejercicio
				.container
					.col-md-12
						p Imagen de muestra. Al dar click se oculta. Revisar linea 10 de script.js
						img(src="http://lorempixel.com/100/50", alt="").botonImagen
						p - 
						p - 
				
					.col-md-3
						//Imagen
						button(data="punto").btn.btn-primary 
							img(src="http://lorempixel.com/100/50", alt="")
						
						button(data="punto").btn.btn-primary Click
						button(data="punto").btn.btn-primary Click
					
					.col-md-3
						button(data="medio").btn.btn-success Click
						button(data="medio").btn.btn-success Click
						button(data="medio").btn.btn-success Click
					.col-md-3
						button(data="pierde").btn.btn-danger Click
						button(data="pierde").btn.btn-danger Click
						button(data="pierde").btn.btn-danger Click
					.col-md-3
						button(data="nada").btn.btn-default Click
						button(data="nada").btn.btn-default Click
						button(data="nada").btn.btn-default Click
					
		.modal.fade#modalInicio
			.modal-dialog
				.modal-content
					.modal-header
						.modal-title ¿Deseas iniciar el material?
					.modal-body
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem dolores ipsa nam, sapiente ex non accusantium et doloribus est. Atque libero non dicta obcaecati adipisci, animi est, aliquam aut earum!
					.modal-footer
						button(type="submit" data-dismiss="modal").btn.btn-primary Iniciar material
				
		.modal.fade#modalFinal
			.modal-dialog
				.modal-content
					.modal-header
						.modal-title Felicidades acabaste el material de aprendizaje
					.modal-body
							p Correctas: 
								span.label.label-primary.correctas 0
							p Errores: 
								span.label.label-danger.errores 0
					.modal-footer
						button(type="submit" data-dismiss="modal").btn.btn-primary Finalizar
