include _mixins.jade

doctype html
html(lang="es")
	head
		+head
		script(src="curso3/_script.js")
		
	body
		.container
			.row.mt20
				.col-md-6.col-md-offset-3
					table.table.table-striped
						thead
							tr
								th Coloca la letra
								th Opciones
						tbody
							tr
								td
									| Mouse
									input(type="text", data="B").inputMouse
								td
									span.label.label-primary A
									|  Sitio web
							tr
								td
									| Photoshop
									input(type="text", data="C").inputPhotoshop
								td
									span.label.label-primary B
									|  Hardware
							tr
								td
									| Google
									input(type="text", data="A").inputGoogle
								td
									span.label.label-primary C
									|  Software
					
					.text-right
						button.btn.btn-success.checar Finalizar
				
				
				
		.modal.fade#modalInicio
			.modal-dialog
				.modal-content
					.modal-header
						.modal-title ¿Deseas iniciar el material?
					.modal-body
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem dolores ipsa nam, sapiente ex non accusantium et doloribus est. Atque libero non dicta obcaecati adipisci, animi est, aliquam aut earum!
					.modal-footer
						button(type="submit" data-dismiss="modal").btn.btn-primary Iniciar material
				
		.modal.fade#modalFinal
			.modal-dialog
				.modal-content
					.modal-header
						.modal-title Felicidades acabaste el material de aprendizaje
					.modal-body
							p Obtuviste <span class="correctas"></span> respuestas correctas de 3 preguntas.
					.modal-footer
						button(type="submit" data-dismiss="modal").btn.btn-primary Finalizar
